<div>
    <% if not @url_table.nil? and @url_table.exists? %>
        <% url = @url_table.first%>
        <h3><%= url.long_url %></h3>
        <%= button_to "Follow the link", url_path(url), method: "get", class: "mt-2 btn btn-primary btn-lg" %>
    <% else %>
        <h2>No Url matches! Search again?</h2>
        <%= render "users/search"%>
    <% end %>
</div>

<div><%= button_to 'Back', user_path(current_user), method: "get", class: "mt-2 btn btn-warning" %></div>