<% if not @url_table.nil? %>
    <% url = @url_table.first%>
    <%= url %>
    <%= url.long_url %>
    <%= button_to "Follow the link", url_path(url), method: "get" %>
<% else %>
    <h2>No Url matches! Search again?</h2>
    <%= render "users/search"%>
<% end %>
